---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="post-categories">
          {% for cat in post.categories %}
            {% for p in site.cats %}
              {% if p.category == cat %}
                <a class="post-category" href="{{p.url}}">[{{ cat | xml_escape }}]</a> 
              {% endif %}
            {% endfor %}
          {% endfor %}
	</div>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
          <a class="readmore" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
