<div class="sbcontent">
    <div class="author">
        {{ site.baseurl }}
        <img src="{{ site.baseurl }}/assets/author.jpeg" />
        <h1>About Bytekeeper</h1>
        <p>
        Professional software developer at Bosch-FS.  In my spare time, I develop small games and tools.
        On this site, I hope to track some "stuff" I'm doing, for myself and for you - I hope there's
        something you like.
        </p>
    </div>
    <div class="sidebardynamic">
        {{ site.sidebar }}
    </div>
</div>
