---
layout: default
---
<div class="category">

  <header class="category-header">
    <h1 class="category-title">Category {{ page.title }}</h1>
    <p class="category-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="category-content">
      {% for post in site.posts %}
          {% if post.categories contains page.category %}
          <li>  
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>   
          </li>
        {% endif %}
      {% endfor %}
  </article>

</div>
