<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="two-thirds column">
            <div class="boxed">
            {{ content }}
            </div>
        </div>
        <div class="sidebar one-thirds column">
            <div class="boxed">
            {% include sidebar.html %}
            </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
